.loginform{
  display: flex;
  flex-wrap:wrap;
  margin:10px;
  width:300px;
  height: 360px; 
  margin: auto;
}

.loginheader{
  padding-top:20px;
  display:flex;
  flex-direction: column;
  align-items:center ;
}

.textInput{
  margin:20px 30px 30px 30px;
  width:30ch;
}
.btnStyle{
  margin-top:20px  !important;
  margin-bottom:5px;
}



.registerForm{
   display: flex;
    flex-wrap:wrap;
    margin:10px;
    width:300px;
    height: 360px; 
    margin: auto;
  }

  .header{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    align-items:center ;
  }

  .forgetPass{
    display: flex;
    flex-wrap:wrap;
    margin:30px;
    width:300px;
    height: 160px; 
  
  
  }

  .btStyle{
    margin-top:20px  !important;
    margin-bottom:5px;
   align-content: left !important;
  }
  