.loginform{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.loginheader{
  padding-top:20px;
  display:flex;
  flex-direction: column;
  align-items:center ;
}

.textInput{
  margin:20px 30px 30px 30px;
  width:30ch;
}
.btnStyle{
  margin-top:30px  !important;
  margin-bottom:5px;
}



.registerForm{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }

  .header{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    align-items:center ;
  }

  .forgetPass{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .forget{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    align-items:center ;
  }
  
  